.git
.gitignore
/.local/
/config/
**/node_modules
**/dist
**/.vite
**/*.log
**/*.pid
**/server.log
**/backend-dev.log
**/frontend-dev.log
**/preview.log
**/third_party_licenses.json
!packages/plugin-installer/third_party_licenses.json
THIRD_PARTY_NOTICES.md
archive
archive/**
test
test/**
docs
docs/**
